# MongoDB Configuration
MONGODB_URL=mongodb+srv://frameflow:ABC@frameflow.trrg1.mongodb.net/frameflow?retryWrites=true&w=majority

MONGODB_DATABASE=vehicle_db

# Core Service Configuration
CORE_SERVICE_PORT=8000

# Sales Service Configuration
SALES_SERVICE_PORT=8001
CORE_SERVICE_URL=http://localhost:8000 