# MongoDB Configuration
# MONGODB_URL=mongodb://sales-mongodb:27017
# MONGODB_DB_NAME=sales_db
# MONGODB_COLLECTION=sales

# Core Service Configuration
# CORE_SERVICE_URL=http://core-service:8001

# Service Configuration
# PORT=8001

# Sales Service Configuration
MONGODB_URL=mongodb://sales-mongodb:27017
MONGODB_DB=sales_db
LOG_LEVEL=INFO
ENVIRONMENT=development